In [3]:
import random
from tqdm import tqdm
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [70]:
df = pd.read_csv('/content/drive/MyDrive/Учеба/Мага/Анализ данных на Python (Аббакумов)/ЛР 5/beverage_r.csv', delimiter=';')
np.random.seed(0)
df

    numb.obs  COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
0          1     1       0        0      0      1       1    0        1
1          2     1       0        0      0      1       0    0        0
2          3     1       0        0      0      1       0    0        0
3          4     0       1        0      1      0       0    1        0
4          5     1       0        0      0      1       0    0        0
5          6     1       0        0      0      1       1    0        0
6          7     0       1        1      1      0       0    1        0
7          8     1       1        0      0      1       1    0        1
8          9     1       1        0      0      0       1    1        1
9         10     1       0        0      0      1       0    0        1
10        11     1       0        0      0      1       1    0        0
11        12     0       1        0      0      0       0    1        0
12        13     0       0        1      1      0       1    0        1
13        14     1       0        0      0      0       1    0        0
14        15     0       1        1      0      0       0    1        0
15        16     0       0        0      0      1       1    0        0
16        17     0       1        0      0      0       1    0        0
17        18     1       1        0      0      1       0    0        0
18        19     1       0        0      0      0       0    0        1
19        20     1       1        1      0      1       0    0        0
20        21     1       0        0      0      1       0    0        0
21        22     1       0        0      0      1       0    0        0
22        23     0       1        0      1      0       0    1        0
23        24     1       1        0      0      1       0    0        0
24        25     0       1        1      1      0       0    0        0
25        26     0       1        0      1      0       0    1        0
26        27     0       1        0      0      0       0    1        0
27        28     1       0        0      0      0       1    0        1
28        29     1       0        0      0      0       1    0        0
29        30     0       1        1      0      0       0    1        0
30        31     1       0        0      0      1       0    0        1
31        32     0       1        1      0      0       0    1        0
32        33     1       0        0      0      1       0    0        1
33        34     0       1        1      1      0       0    1        0

In [25]:
df_length = len(df)
print('Общий размер датафрейма: ', df_length)

Общий размер датафрейма:  34

# Задача 1

Разделить таблицу данных так, чтобы в обучающую выборку попало 66% наблюдений, а в тестовую выборку 33% наблюдений

In [17]:
indices = list(range(df_length))
q66 = np.quantile(indices, 0.66)

np.random.shuffle(indices)
print('Перемешанные индексы: ', indices)

Перемешанные индексы:  [29, 28, 13, 6, 25, 26, 18, 10, 15, 22, 27, 14, 12, 7, 19, 9, 20, 30, 23, 3, 33, 17, 1, 31, 16, 21, 32, 2, 11, 0, 4, 8, 5, 24]

In [19]:
train = df[indices <= q66]
test = df[indices > q66]

print('Размер тренировочной выборки: ', len(train))
print('Размер тестовой выборки: ', len(test))

Размер тренировочной выборки:  22
Размер тестовой выборки:  12

# Задача 2
Разделить таблицу данных на четыре одинаковых части.

In [23]:
indices = list(range(df_length))
q25 = np.quantile(indices, 0.25)
q50 = np.quantile(indices, 0.5)
q75 = np.quantile(indices, 0.75)

np.random.shuffle(indices)
print('Перемешанные индексы: ', indices)

Перемешанные индексы:  [32, 24, 27, 25, 16, 23, 18, 33, 5, 6, 1, 30, 29, 22, 12, 26, 28, 2, 9, 3, 19, 17, 14, 20, 10, 13, 7, 4, 11, 21, 31, 15, 8, 0]

In [24]:
part1 = df[indices <= q25]
part2 = df[(indices > q25) & (indices <= q50)]
part3 = df[(indices > q50) & (indices <= q75)]
part4 = df[indices > q75]

print('Размер 1 выборки: ', len(part1))
print('Размер 2 выборки: ', len(part2))
print('Размер 3 выборки: ', len(part3))
print('Размер 4 выборки: ', len(part4))

Размер 1 выборки:  9
Размер 2 выборки:  8
Размер 3 выборки:  8
Размер 4 выборки:  9

# Задача 3
Разделить таблицу данных на две стратифицированные подвыборки.
По переменным кока-кола и минералка.

In [87]:
from math import ceil
proportion = 0.7

df['strata'] = df['COKE'].astype(str) + '_' + df['TAB'].astype(str)

indices = np.array(range(df_length))
np.random.shuffle(indices)

train_indices = []


for strata_name, group in df.groupby('strata'):
    group_indices = group.index.to_list()
    n_train = int((len(group)) * proportion)
    np.random.shuffle(group_indices)
    train_indices.extend(group_indices[:n_train])

train = df.loc[train_indices]
test = df.drop(train_indices)

In [88]:
print("Исходные:\n", df[['COKE', 'TAB']].value_counts())
print("\nTrain:\n", train[['COKE', 'TAB']].value_counts())
print("\nTest:\n", test[['COKE', 'TAB']].value_counts())

Исходные:
 COKE  TAB
1     0      19
0     1      10
      0       4
1     1       1
Name: count, dtype: int64

Train:
 COKE  TAB
1     0      13
0     1       7
      0       2
Name: count, dtype: int64

Test:
 COKE  TAB
1     0      6
0     1      3
      0      2
1     1      1
Name: count, dtype: int64